{% extends 'core/base.html' %}

{% block title %}About me{% endblock %}

{% block background %}{% load static %}{% static 'core/imagenes/img1.png' %}{% endblock %}


{% block pagetitle %}
    <h1>Acerca de mi.</h1>
{% endblock %}

{% block headers%}
    <h2>Hola !</h2>
        <p>Me dedico a la rama de la Inteligencia Artificial (Machine Learning, Deep Learning) y
            desarrollo de aplicaciones en Flutter.
             A lo largo de esta pagina podras ver algunos proyectos que e creado. Los lenguajes
            de programacion que dominoson, PYTHON, DART & FLUTTER.</p>

{% endblock %}


    {% block namePage %}Acerca de mi.{% endblock%}

            