<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/estilos/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/estilos/blog_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.Arturo | {% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Inicio Header-->
    <header>
        <!--Iconos-->
        <section class="header-icons">
            <div class="icons">
                <a href="{% url 'about' %}"><img src="{% static 'core/imagenes/my.jpg' %}" alt="me"></a>
                <a href="https://www.facebook.com/carlosarturo.carlosarturo/"><img src="{% static 'core/imagenes/facebook2.png' %}" alt="facebook"></a>
                <a href="https://www.instagram.com/carturo6/"><img src="{% static 'core/imagenes/instagram2.png' %}" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/carturo6/"><img src="{% static 'core/imagenes/linkedin2.png' %}" alt="linkedin"></a>
                <a href="https://mobile.twitter.com/carturo_6v"><img src="{% static 'core/imagenes/gorjeo2.png' %}" alt="twitter"></a>
                <a href="https://github.com/carturo6"><img src="{% static 'core/imagenes/gtihub.png' %}" alt="gthub"></a>

            </div>
        </section>
        
            <!--Inicio del nav-->
        <nav>
            <section class="nav-logo-container">
                <a href="{% url 'portafolio' %}">
                    <img src="{% static 'core/imagenes/my.jpg' %}" alt="My_photo">
                </a>
            </section>

            <section class="profile-link">
                <a href="{% url 'about' %}">About me.</a

            </section>
        </nav>
        <!--Fin del nav-->

    </header>
    <!-- Fin Header-->

    {% block content %}{% endblock %}


    <<!--Main-->
    <main class="blog-main">
        <section class="blog-new-container">
            <div class="grid-container blog-main-new">

                <!--Inicio Nombre de la pagina-->
                {% block pagetitle %}
                {% endblock %}
                <!--Fin Nombre de la pagina-->
                
                <div class="blog-new-img-container">
                    <img src="{% block background %}{% endblock %}" alt="profile">
                </div>

                <div class="blog-new-info-container">

                    <!--Info de la pag. actual-->
                    {% block headers %}{% endblock %}
                    
                    <a href="">Ver mas</a>
                </div>
            </div>
        </section>

        {% if request.path == "/" %}
            <hr>
        {% endif %}

        <!--Portafolio-->
        <!--Posts-->
        {% block post%}
        {% endblock %}
        <!--Fin Portafolio-->
        <!--Fin Posts-->


    </main>
    
 <!--Footer-->
 <footer>
    
</footer>

</body>
</html>