{% extends 'core/base.html' %}

            
{% block title %} Portafolio {% endblock %}


{% block background %}{% load static %}{% static 'core/imagenes/img1.png' %}{% endblock %}


{% block pagetitle %}
    <h1>Portafolio.</h1>
{% endblock %}

{% block headers%}
    <h2>Mi portafolio</h2>
        <p>De manera constante, y permanente, desarrollo proyectos de desarrollo movil,
            paginas web, pero sobre todo, Inteligencia Artificial.
        </p>
{% endblock %}


            <!--Posts-->

{% block post %}
            <section class="blogs-posts-container">
                <div class="grid-container">
                    <h3>Portafolio.</h3>
                    <article class="posts-container">
                        <img src="{% static 'core/imagenes/gtihub.png' %}" alt="proyecto1">
                        <p>Mi pagina Web.</p>
                        <p>Este proyecto es mi pagina web, la cual esta desarrollada con HTML, CSS y javascript
                            El codigo y sus diferentes versiones se encuentran en mi Github y podra verse en diferentes
                            versiones.</p>
                        <a href="https://github.com/carturo6/My_Blog" class="blogs-button">Ver proyecto.</a>
                    </article>
                    
                    <article class="posts-container">
                        <img src="{% static 'core/imagenes/gtihub.png' %}" alt="proyecto2">
                        <p>Proyeccion y prediccion Covid-19.</p>
                        <p>Prediccion en funcion del tiempo sobre covid-19
                            . Esta prediccion esta realizada en python, y 
                            esta dividida en diferentes visualizaciones segun tipo de padecimiento.</p>
                        <a href="https://github.com/carturo6/Covid-19" class="blogs-button">Ver proyecto.</a>
                    </article>
    
    
                    <article class="posts-container">
                        <img src="{% static 'core/imagenes/web_scrapper.jpeg' %}" alt="proyecto1">
                        <p>Web Scrapper.</p>
                        <p>Web scrapper para buscar informacion sobre un para de paginas web, para
                            practicar la extraccion de datos en la web, sin fin de lucro.
                        </p>
                        <a href="https://github.com/carturo6/Web_Scrapper" class="blogs-button">Ver proyecto.</a>
                    </article>
    
                    <article class="posts-container">
                        <img src="{% static 'core/imagenes/unity.png' %}" alt="proyecto1">
                        <p>Realidad aumentada.</p>
                        <p>Proyecto desarrollado en unity, sobre realidad aumentada. Solo se requiere descargar e intalar el apk e imprimir
                            la hoja para poder ver le multi target en accion.</p>
                        <a href="https://github.com/carturo6/MultiTarget_RealidadAumentada" class="blogs-button">Ver proyecto.</a>
                    </article>
    
                    
                    
                </div>
            </section>
{% endblock %}